/* 3.1 Всі посилання меню - фіолетовий колір */
a {
    color: violet;
}

/* 3.2 Лише пункти головного меню - зелений колір */
.main-item > a {
    color: green;
}

/* 3.3 Останній вкладений список - маркери квадрат */
.square-marker li {
    list-style-type: square;
}

/* 3.4 Другий вкладений список - піктограми */
.custom-marker li {
    list-style-type: disc;
}

/* 3.5 Прибрати маркери у вкладених списках */
.no-marker li {
    list-style-type: none;
}

/* 3.6 Прибрати підкреслення для останніх посилань */
.no-marker li a {
    text-decoration: none;
}

/* 3.7 Нумерація у вкладеному списку блоку "Різне" */
ol {
    list-style-position: inside;
}
